/* Pallete used - https://colorhunt.co/palette/297f87fff7aef6d167df2e2e */

body {
  background-color: #FFF7AE;
}
.eas-heading {
  color: #297F87;
  text-align: center;
  font-family: 'Viga', sans-serif;
  letter-spacing: 15px;
}

.main-board {
  height: 600px;
  width: 600px;
  border: 10px solid #DF2E2E;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.main-board-item {
  flex: 1 1 auto;
}

.board-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  padding-top: 0;
  background-color: #DF2E2E;
}

.board-header-item {
  flex: 1;
}

.board-header-flex {
  margin: 0;
  padding: 0;
  text-align: center;
}

.board-name {
  text-align: center;
  display: inline;
  color: #FFF7AE;
}

.material-icons {
  color: #FFF7AE;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
}

.flex-item {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.grid-box {
  flex: 1 1 auto;
  border: 1px solid #EEEEEE;
}

.footer-paragraph {
  text-align: center;
  font-family: 'Urbanist', sans-serif;
}
